@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    /* width not affected by padding or border */
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    /* Centered horizontally */
    align-items: center; 
    /* Centered vertically on 100% viewport */
    justify-content: center;
    /* 100% viewport height  */
    height: 100vh;
    /* no margins  */
    margin: 0;
}

canvas {
    border: 2px solid steelblue;
}

.toolbox { 
    background-color: steelblue;
    border: 1px solid slateblue;
    display: flex;
    width: 804px;
    padding: 1rem;
}

/* selects all children of .toolbox */
.toolbox > * {
    background-color: white;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
}

/* selects last child element in .toolbox (clear)*/
.toolbox > *:last-child {
    margin-left: auto;
}